/* BODY BACKGROUND & GENERAL: sivun layout */
body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: black;
	background: linear-gradient(-45deg, #307daa, #209b76, #10698a, #0e8166);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	min-height: 95.5vh;
	min-width: 95.5vw;

	font-family: 'Montserrat';
	color: white;
	text-align: center;
	text-shadow: 1px 2px 3px rgba(0, 0, 0, 1);

	border: 2px solid white;
	border-radius: 0.5em;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* MAIN BACKGROUND & GENERAL; koodin layout */

main {
	margin: auto;
	margin-bottom: 1em;
	background-color: black;
	background: linear-gradient(-45deg, #431874, #691133, #070c53, #042e49);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 20em;
	width: 30em;

	font-family: 'Montserrat';
	color: white;
	text-align: center;
	text-shadow: 1px 2px 3px rgba(0, 0, 0, 1);

	border: 2px solid white;
	border-radius: 0.5em;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* FOOTER */
footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: auto;
	padding-top: 0.8em;
	background-color: rgb(236, 236, 236);
	color: black;
	min-width: 95.5vw;
	height: 2.5em;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
		rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.fa {
	color: black;
	padding: 0.35em;
	font-size: 1.2em;
	width: 30px;
	text-align: center;
	text-decoration: none;
}

.fa:hover {
	color: black;
}

/* FONTS */
h1 {
	font-size: 3.2em;
}

p {
	margin: 0.3em;
}

b {
	font-size: 1.2em;
}

a {
	color: whitesmoke;
	text-decoration: none;
	transition: all 0.5s ease;
}
a:hover {
	color: rgb(156, 159, 180);
	text-shadow: 1px 2px 3px rgba(0, 0, 0, 1);
	font-size: 1.1em;
}

li {
	font-size: 0.8em;
	display: inline;
}

/* OTHER; kuvat, napit, härpäkkeet */
img {
	margin-top: 1em;
	margin-bottom: -1.5em;
	border: 2px solid rgb(255, 255, 255);
	border-radius: 50%;

	box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
		rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

button {
	border: none;
	background: none;
	font-family: 'Montserrat';
	color: white;
	text-align: center;
	text-shadow: 1px 2px 3px rgba(0, 0, 0, 1);
	font-size: 1em;
	transition: all 0.5s ease;
}
button:hover {
	color: rgb(100, 137, 180);
	text-shadow: 1px 2px 3px rgba(0, 0, 0, 1);
	font-size: 1.1em;
}

label,
input {
	margin: 0.1em;
}

input {
	border-radius: 20%;
	width: 1.8em;
	height: 1.3em;
	text-align: center;
	font-size: 1em;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
}
.inner {
	text-align: center;
}

/* MOBILE LAYOUTS */
@media only screen and (max-width: 500px) {
	body {
		margin: 0;
		padding: 0;
	}
	h1 {
		margin-bottom: 0.5em;
		font-size: 2em;
	}

	h2 {
		margin-bottom: 0.2em;
		font-size: 1.1em;
	}

	main {
		height: 14em;
		width: 21em;
	}
}

@media only screen and (max-width: 340px) {
	h1 {
		font-size: 1em;
	}

	p,
	i {
		font-size: 0.8em;
	}
	main {
		height: 10em;
		width: 15em;
	}
}
